<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs%>
</head>

<body>

<% include templates/header.ejs%>
body
<div class="container">
<h1>My First Bootstrap Page</h1>
</div>

<% include templates/footer.ejs%>


</body>
</html>